<!--------------------------------------- SearchBox ------------------------------------------------>
<form #frm="ngForm" (ngSubmit)="submitData()">
  <div class="content d-flex justify-content-end mb-5" style="background-color: grey;">
    <div class="searchbar form-group d-flex justify-content-center border border-warning">
      <input type="text" class="form-control position-relative border-0" name="search" #search="ngModel" [(ngModel)]="searchValue">
      <button class="position-absolute-right-0 border-0 z-1 p-1 bg-transparent" type="submit"><i class="fa-solid fa-magnifying-glass" style="width: 60px;"></i></button>
    </div>
  </div>
</form>
<div class="d-flex justify-content-center" style="background-color: aliceblue;">
  <p-card header="{{allData.Title}}" subheader="{{allData.Runtime}}" [style]="{ width: '50vw' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="{{allData.Poster}}" />
      </ng-template>
      <p>
          {{allData.Plot}}
      </p>
      <ng-template pTemplate="content">
        <div class = "movie-info">
          <ul class = "movie-misc-info">
              <li class = "year"><b>Year:</b> {{allData.Year}}</li>
              <li class = "rated"><b>Ratings:</b> {{allData.imdbRating}}</li>
              <li class = "released"><b>Released:</b> {{allData.Released}}</li>
          </ul>
          <p class = "genre"><b>Genre:</b> {{allData.Genre}}</p>
          <p class = "writer"><b>Writer:</b> {{allData.Writer}}</p>
          <p class = "actors"><b>Actors: </b>{{allData.Actors}}</p>
          <p class = "plot"><b>Plot:</b> {{allData.Plot}}</p>
          <p class = "language"><b>Language:</b> {{allData.Language}}</p>
          <p class = "awards"><b><i class = "fas fa-award"></i></b> {{allData.Awards}}</p>
        </div>
      </ng-template>
  </p-card>
</div>